<?xml version="1.0"?> 
<launch>
	<param name="use_sim_time" value="true" />

	<node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node">
		<param name="use_rep_117" value="true" />
		<param name=
	</node>	

	<!--STARTS HECTOR MAPPING & TF BETWEEN BASE_LINK AND LASER-->
	<include file="$(find lunarex_2dnav)/hector_launchers/hector_mapping.launch" />
	
	<!--STARTS MOVE_BASE-->
	<include file="$(find lunarex_2dnav)/move_base.launch" />
	
	<!-- STARTS SIMPLE NAV GOALS / COMMAND NODE-->
	<!--node name="command_node" pkg="command" type="command_node.py" /-->

	<!---STARTS COSTMAPS RVIZ-->
	<!--node pkg="rviz" type="rviz" name="rviz_costmaps" args="-d $(find lunarex_2dnav)/costmaps.vcg"/-->

	<!---STARTS HECTOR MAPPING RVIZ-->
	<!--node pkg="rviz" type="rviz" name="rviz_hector" args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.vcg"/-->
</launch>
