<?xml version="1.0"?>

<launch>

	<!--STARTS TF-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 base_link base_laser_scan 50" />

	<!--STARTS STAGE-->
	<node pkg="stage" type="stageros" name="stage" output="screen" args="$(find lunarex_stage)/world/Lunarex_Stage.world">
	<remap from="/base_scan" to="/scan"/>
	<remap from="/odom" to="/stage_odom"/>
	</node>

  	<!-- MAP SERVER -->
  	<!--node name="map_server" pkg="map_server" type="map_server" args="$(find lunarex_2dnav_staticMap)/map.yaml" /-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find lunarex_2dnav_staticMap)/emptyMap2.pgm 0.01" />


  	<!--- Run AMCL -->
  	<include file="$(find amcl)/examples/amcl_omni.launch" />

 	 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
   	<rosparam file="$(find lunarex_2dnav_staticMap)/costmap_common_params.yaml" command="load" ns="global_costmap" />
   <rosparam file="$(find lunarex_2dnav_staticMap)/costmap_common_params.yaml" command="load" ns="local_costmap" />
   <rosparam file="$(find lunarex_2dnav_staticMap)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find lunarex_2dnav_staticMap)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find lunarex_2dnav_staticMap)/base_local_planner_params.yaml" command="load" />
  </node>

  <!---STARTS RVIZ-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lunarex_2dnav)/costmaps.vcg"/>

</launch>

