<?xml version="1.0"?>

<launch>

  <!-- Run Kinect Service Server -->
  <!--node pkg="kinect_node" name="kinect_srv_server" type="kinect_srv_server.py" respawn="false"/-->

  <!-- Run map_builder -->
  <node pkg="map_builder" name="map_builder" type="map_builder.py" respawn="false"/>
  
  <!--include file="$(find lunarex_2dnav)/hector_launchers/hector_mapping.launch" /-->
  <include file="$(find lunarex_2dnav)/hector_launchers/rolledBack_hector.launch" />

  <!--- Run rviz -->
  <!--- node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.vcg"/-->
</launch>
